.overlay{
  filter: brightness(50%);
}
.course-bg-danger{
  background-color: #289BDE;
  color: white;
}
.reg-btn{
  background-color: white;
  color: #289BDE;
}
.fa-brands{
color: white;
font-size: 20px;
}